@page "/parks"
@inject Parks.Repository.IParkRepositoryService _parkRepository

<PageTitle>Parks</PageTitle>

<h1>Parks</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (parks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <h3 class="col-10">List of Parks</h3>
        <button type="button" class="btn btn-primary col-2" onclick="@AddPark">Add park</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Off-Leash Dog Area</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var park in parks)
            {
                <tr>
                    <td>@park.Name</td>
                    <td>@park.Location</td>
                    <td>@park.OffLeashDogArea</td>
                </tr>
            }
        </tbody>
    </table>

    @if (ModalOpen)
    {
        <ParkInputForm
                Title="Add a new park"
                OnClose="@CloseModal"
                OnConfirm="@OnParkAdded">
        </ParkInputForm>
    }
}

@code {
    private List<Parks.Contract.Models.Park>? parks = new();
    private bool ModalOpen = false;

    protected override void OnInitialized()
    {
        parks = _parkRepository.GetParksAsync().ToList();
    }

    protected void AddPark()
    {

        ModalOpen = true;
    }

    protected async Task CloseModal(bool result) {
        ModalOpen = false;
        await Task.CompletedTask;
    }

    protected async Task OnParkAdded(Parks.Contract.Models.Park park) {
        parks.Add(park);
        await CloseModal(false);
    }
}

