
<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn close"
                        @onclick="@Cancel">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>@ChildContent</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        @onclick="@Cancel">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary"
                        @onclick="@Cancel">
                    @AcceptCaption
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string AcceptCaption { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private Task Cancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private Task Ok()
    {
        return OnClose.InvokeAsync(true);
    }
    }

@code {

}

